absl-py==2.1.0
asgiref==3.8.1
Brotli==1.1.0
cffi==1.17.1
charset-normalizer==3.4.2
contourpy==1.3.1
cryptography==45.0.2
cssselect2==0.8.0
cycler==0.12.1
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
fonttools==4.56.0
h5py==3.12.1
joblib==1.4.2
keras==3.8.0
kiwisolver==1.4.8
markdown-it-py==3.0.0
matplotlib==3.10.0
mdurl==0.1.2
ml_dtypes==0.5.1
namex==0.0.8
numpy==2.2.3
opencv-python==4.11.0.86
optree==0.14.0
packaging==24.2
pandas==2.2.3
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.1.0
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
Pygments==2.19.1
PyJWT==2.9.0
pyparsing==3.2.1
pypdf==5.5.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.1
rich==13.9.4
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.5.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
tzdata==2025.1
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
